/* ----- */
/* General Page & Heading with Background-Image Style  */
/* ----- */
.pageHome {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    width: 800px;
}

.pageHome .contentHome {
    width: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 200px;
}

.pageHome .contentHome .heading {
    height: 400px;
    width: 650px;

    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: rgb(50, 200, 50);

    border-radius: 33px;

    font-size: 25px;
    font-family: Gill Sans;

    background: url(../../Image/Pictures/HomePage.jpg);
    background-size: 650px 400px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

.pageHome .contentHome .heading h1 {
    color: white;

    margin-top: 310px;
    margin-left: 30px;
}

#inactiveStyle {
    margin-left: 220px;
    
    transition: all 0.75s ease;
}

#activeStyle {
    margin-left: 270px;
    
    transition: all 0.75s ease;
}


/* ----- */
/* Ressponsive Design for Mobile */
/* ----- */
@media only screen and (max-width: 420px) {

    .pageHome {
        width: 420px;

        align-items: normal;
    }

    .pageHome .contentHome {
        width: fit-content;

        margin-left: 0px;
    }

    .pageHome .contentHome .heading {
        height: 200px;
        width: 350px;

        font-size: 15px;

        background-size: 350px 200px;

        margin-top: 140px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .pageHome .contentHome .heading h1 {
        margin-top: 150px;
        margin-left: 10px;
    }

    #inactiveStyle {
        margin-left: 0px;
        
        transition: all 0.75s ease;
    }
    
    #activeStyle {
        margin-left: 0px;
        
        transition: all 0.75s ease;
    }
}



/* ----- */
/* Cards Style properties  */
/* ----- */

/* ONE */
.pageHome .contentHome .one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;

    margin-left: 50px;
}

.pageHome .contentHome .one img {
    height: 300px;
    width: 450px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-right: -150px;
    margin-left: 40px;
}

.pageHome .contentHome .one p {
    height: 300px;
    width: 450px;

    font-size: 27.5px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;

    margin-left: -40px;
}



/* TWO */
.pageHome .contentHome .two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;

    margin-left: 200px;
    margin-top: 10px;
}

.pageHome .contentHome .two img {
    height: 300px;
    width: 450px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-left: -120px;
    margin-right: 50px;
}

.pageHome .contentHome .two p {
    height: 300px;
    width: 450px;

    font-size: 22.5px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;

    margin-right: -70px;
}



/* THREE */
.pageHome .contentHome .three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;

    margin-top: 10px;
}

.pageHome .contentHome .three img {
    height: 300px;
    width: 450px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-right: -160px;
    margin-left: 40px;
}

.pageHome .contentHome .three p {
    height: 350px;
    width: 450px;

    font-size: 25px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;

    margin-right: 10px;
}



/* FOUR */
.pageHome .contentHome .four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;

    margin-left: 20px;
    margin-top: 10px;
}

.pageHome .contentHome .four img {
    height: 300px;
    width: 450px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-right: 10px;
}

.pageHome .contentHome .four p {
    height: 350px;
    width: 450px;

    font-size: 27.5px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;

    margin-right: -150px;
    margin-left: 40px;
}



/* FIVE */
.pageHome .contentHome .five {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;
}

.pageHome .contentHome .five img {
    height: 300px;
    width: 350px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-right: -150px;
}

.pageHome .contentHome .five p {
    height: 350px;
    width: 450px;

    font-size: 27.5px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;

    margin-right: 50px;
}



/* SIX */
.pageHome .contentHome .six {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;
}

.pageHome .contentHome .six img {
    height: 300px;
    width: 450px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-right: 60px;
}

.pageHome .contentHome .six p {
    height: 350px;
    width: 450px;

    font-size: 25px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;

    margin-right: -150px;
}



/* SEVEN */
.pageHome .contentHome .seven {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;
}

.pageHome .contentHome .seven img {
    height: 300px;
    width: 450px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-right: -170px;
}

.pageHome .contentHome .seven p {
    height: 350px;
    width: 450px;

    font-size: 25px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;

    margin-right: 50px;
}



/* EIGHT */
.pageHome .contentHome .eight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;
}

.pageHome .contentHome .eight img {
    height: 300px;
    width: 350px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-right: 50px;
}

.pageHome .contentHome .eight p {
    height: 350px;
    width: 450px;

    font-size: 25px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;

    margin-right: -250px;
    margin-left: 70px;
}



/* NINE */
.pageHome .contentHome .nine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;
}

.pageHome .contentHome .nine img {
    height: 300px;
    width: 450px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-right: -200px;
    margin-left: 50px;
}

.pageHome .contentHome .nine p {
    height: 350px;
    width: 450px;

    font-size: 25px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;


}



/* TEN */
.pageHome .contentHome .ten {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;
}

.pageHome .contentHome .ten img {
    height: 350px;
    width: 300px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    margin-right: 200px;
}

.pageHome .contentHome .ten p {
    height: 350px;
    width: 450px;

    font-size: 27.5px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;

    margin-right: -300px;
}



/* ELEVEN */
.pageHome .contentHome .eleven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 350px;
    width: 800px;

    margin-top: 250px;
    margin-right: -200px;
    margin-bottom: 200px;
}

.pageHome .contentHome .eleven img {
    height: 600px;
    width: 800px;

    border-radius: 33px;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);


}

.pageHome .contentHome .eleven p {
    height: 350px;
    width: 800px;

    font-size: 35px;
    font-family: Gill Sans;
    font-weight: 700;

    color: rgb(0, 100, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -40px;
}



/* ----- */
/* Ressponsive Cards Design for Mobile */
/* ----- */
@media only screen and (max-width: 420px) {

    /* ONE */
    .pageHome .contentHome .one {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .one img {
        height: 230px;
        width: 350px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin: 0px 0px 0px 0px;

    }

    .pageHome .contentHome .one p {
        height: fit-content;
        width: 300px;

        font-size: 25px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        text-align: center;

        margin-left: 0px;
    }


    /* TWO */
    .pageHome .contentHome .two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .two img {
        height: 230px;
        width: 350px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin-left: 0px;
        margin-right: 0px;
    }

    .pageHome .contentHome .two p {
        height: fit-content;
        width: 300px;

        font-size: 20px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        display: flex;
        align-items: center;

        margin-right: 0px;
    }


    /* THREE */
    .pageHome .contentHome .three {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .three img {
        height: 230px;
        width: 350px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin-right: 0px;
        margin-left: 0px;
    }

    .pageHome .contentHome .three p {
        height: fit-content;
        width: 300px;

        font-size: 25px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        text-align: center;

        margin-right: 0px;
    }


    /* FOUR */
    .pageHome .contentHome .four {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .four img {
        height: 230px;
        width: 350px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin-right: 0px;
    }

    .pageHome .contentHome .four p {
        height: fit-content;
        width: 300px;

        font-size: 25px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        text-align: center;

        margin-right: 0px;
        margin-left: 0px;
    }


    /* FIVE */
    .pageHome .contentHome .five {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .five img {
        height: 330px;
        width: 350px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin-right: 0px;
    }

    .pageHome .contentHome .five p {
        height: fit-content;
        width: 300px;

        font-size: 27.5px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        display: flex;
        align-items: center;

        margin-right: 0px;
    }


    /* SIX */
    .pageHome .contentHome .six {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .six img {
        height: 230px;
        width: 350px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin-right: 0px;
    }

    .pageHome .contentHome .six p {
        height: fit-content;
        width: 300px;

        font-size: 22.5px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        text-align: center;

        margin-right: 0px;
    }


    /* SEVEN */
    .pageHome .contentHome .seven {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .seven img {
        height: 230px;
        width: 350px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin-right: 0px;
    }

    .pageHome .contentHome .seven p {
        height: fit-content;
        width: 300px;

        font-size: 22.5px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        text-align: center;

        margin-right: 0px;
    }


    /* EIGHT */
    .pageHome .contentHome .eight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .eight img {
        height: 230px;
        width: 350px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin-right: 0px;
    }

    .pageHome .contentHome .eight p {
        height: fit-content;
        width: 300px;

        font-size: 22.5px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        text-align: center;

        margin-right: 0px;
        margin-left: 0px;
    }


    /* NINE */
    .pageHome .contentHome .nine {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .nine img {
        height: 230px;
        width: 350px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin-right: 0px;
        margin-left: 0px;
    }

    .pageHome .contentHome .nine p {
        height: fit-content;
        width: 300px;

        font-size: 25px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        text-align: center;
    }


    /* TEN */
    .pageHome .contentHome .ten {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-left: 0px;
        margin-top: 50px;
    }

    .pageHome .contentHome .ten img {
        height: 400px;
        width: 300px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

        margin-right: 0px;
    }

    .pageHome .contentHome .ten p {
        height: fit-content;
        width: 300px;

        font-size: 27.5px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        text-align: center;

        margin-right: 0px;
    }


    /* ELEVEN */
    .pageHome .contentHome .eleven {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        height: fit-content;
        width: 400px;

        margin-top: 50px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .pageHome .contentHome .eleven img {
        height: 280px;
        width: 370px;

        border-radius: 33px;

        box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    }

    .pageHome .contentHome .eleven p {
        height: fit-content;
        width: 300px;

        font-size: 30px;
        font-family: Gill Sans;
        font-weight: 700;

        color: rgb(0, 100, 0);

        text-align: center;

        margin-top: 0px;
    }
}