.navigation {
    display: flex;

    height: 800px;
    width: 1000px;
}



/* --- */
/* ACTIVE Menu's CSS properties */
/* --- */

.navigation .leftMenuActive {
    height: 100vh;
    width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgb(50, 250, 50), green);

    box-shadow: 10px 0 15px -10px rgb(100, 100, 100);

    transition: all 0.75s ease;

    position: fixed;
}


.navigation .leftMenuActive img {
    margin-top: 20px;

    height: 100px;
    width: 200px;

    transition: all 0.75s ease;
}


.navigation .leftMenuActive .sectionMenu {
    margin-top: 7.5vh;

    display: flex;
    flex-direction: column;

    width: 20vw;

    transition: all 0.75s ease;
}


.navigation .leftMenuActive .sectionMenu p {
    font-size: 100%;

    transition: all 0.75s ease;
}


.navigation .leftMenuActive .sectionMenu .menu {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-left: 2vw;

    font-size: larger;

    transition: all 0.75s ease;

    height: 7.5vh;
    width: 17vw;
}

.navigation .leftMenuActive .sectionMenu .menu p {
    display: flex;
    align-items: center;
}




/* --- */
/* INACTIVE Menu's CSS properties */
/* --- */

.navigation .leftMenuInactive {
    height: 100vh;
    width: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgb(50, 250, 50), green);

    box-shadow: 10px 0 15px -10px rgb(100, 100, 100);

    transition: all 0.75s ease;

    position: fixed;
}


.navigation .leftMenuInactive img {
    margin-top: 20px;

    height: 65px;
    width: 120px;

    transition: all 0.75s ease;
}


.navigation .leftMenuInactive .sectionMenu {
    margin-top: 80px;

    display: flex;
    flex-direction: column;

    width: 120px;

    transition: all 0.75s ease;
}


.navigation .leftMenuInactive .sectionMenu .menu {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-left: 20px;


    font-size: larger;

    transition: all 0.75s ease;

    height: 60px;
    width: 100px;
}


.navigation .leftMenuInactive .sectionMenu p {
    font-size: 0%;

    transition: all 0.75s ease;
}