.pageTactic {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 80vw;
}

.pageTactic .filterMenu {
    height: 85vh;
    width: 25vw;

    margin-right: 10vw;
}

.pageTactic .tactic {
    height: 85vh;
    width: 30vw;

    background-image: url(../../../Image/Pictures/Pitch.jpg);
    background-size: 30vw 85vh;

    border-radius: 33px;

    display: flex;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}




/* *********************** */
/* Tactic List */
/* *********************** */
.pageTactic .filterMenu .listTactics {
    display: flex;
    flex-direction: row;

    font-family: Gill Sans;

    color: rgb(0, 100, 0);
}

.pageTactic .filterMenu .listTactics button {
    font-size: 200%;
    width: 100px;

    margin-left: 10px;
    margin-top: 20px;

    border-radius: 33px;

    background-color: rgb(0, 240, 0);

    color: rgb(0, 100, 0);

    border-color: transparent;
    border-style: solid;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    font-family: Gill Sans;
}

.pageTactic .filterMenu .listTactics .dropdownTactics {
    width: 100px;
    height: 115px;

    margin-left: 15px;

    overflow: scroll;

}

.pageTactic .filterMenu .listTactics .dropdownTactics p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 70px;

    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 0;
    margin-right: 0;

    border-style: solid;
    border-color: transparent;
    border-radius: 33px;

    background-color: rgb(0, 240, 0);

    color: rgb(0, 100, 0);

    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);

    font-size: 175%;
}




/* *********************** */
/* Color List */
/* *********************** */
.pageTactic .filterMenu .listColors {
    display: flex;
    flex-direction: row;

    font-family: Gill Sans;

    color: rgb(0, 100, 0);
}

.pageTactic .filterMenu .listColors button {
    font-size: 180%;

    width: 120px;

    margin-left: 10px;
    margin-top: 20px;

    border-radius: 33px;

    background-color: rgb(0, 240, 0);

    color: rgb(0, 100, 0);

    border-color: transparent;
    border-style: solid;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    font-family: Gill Sans;
    font-weight: 600;
}

.pageTactic .filterMenu .colorOne {
    width: 100px;
}

.pageTactic .filterMenu .listColors .dropdownColorOne {
    width: 120px;
    height: 120px;

    overflow: scroll;

    align-items: center;
}

.pageTactic .filterMenu .listColors .dropdownColorOne p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90px;

    margin-left: 20px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-right: 0px;

    border-style: solid;
    border-radius: 33px;
    border-color: transparent;

    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);

    font-size: 175%;
}

.pageTactic .filterMenu .colorTwo {
    width: 100px;
    
    margin-left: 30px;
}

.pageTactic .filterMenu .listColors .dropdownColorTwo {
    width: 120px;
    height: 120px;

    overflow: scroll;

    margin-left: 20px;
}

.pageTactic .filterMenu .listColors .dropdownColorTwo p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 90px;

    margin-left: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-right: 0px;

    border-style: solid;
    border-radius: 33px;
    border-color: transparent;

    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);

    font-size: 175%;
}
