.pageTactic {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 80vw;
}


.pageTactic .filterMenu {
    height: 85vh;
    width: 25vw;

    margin-right: 10vw;
}


.pageTactic .tactic {
    height: 85vh;
    width: 30vw;

    background-image: url(../../../Image/Pictures/Pitch.jpg);
    background-size: 30vw 85vh;

    border-radius: 33px;

    display: flex;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}


.pageTactic .filterMenu .listTactics {
    display: flex;
    flex-direction: row;

    font-family: Gill Sans;

    color: rgb(0, 100, 0);
}


.pageTactic .filterMenu .listTactics button {
    font-size: 150%;
    width: 7.5vw;
    height: 5vh;

    margin-left: 1vw;
    margin-top: 2.4vh;

    border-radius: 33px;

    background-color: rgb(0, 240, 0);

    color: rgb(0, 100, 0);

    border-color: transparent;
    border-style: solid;

    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);

    font-family: Gill Sans;
}


.pageTactic .filterMenu .listTactics .dropdown {
    width: 10vw;
    height: auto;
}


.pageTactic .filterMenu .listTactics .dropdown p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 5vh;
    width: 6vw;

    margin-left: 1.6vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;

    border-style: solid;
    border-radius: 33px;
    border-color: transparent;

    background-color: rgb(0, 240, 0);

    color: rgb(0, 100, 0);

    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);

    margin-top: 0.5vh;

    font-size: 125%;
}